@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #1e1e1e;
}

html {
  font-size: 62.5%;
}

#root {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
