*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body,
html {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
